<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/eliminardetacita.js"></script>
    <link href="css/administrador.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Usuario</title>
</head>
<body>

    <section class="centrar-imagen">
        <img src="ima/logo.PNG" class="logo-menu">
    </section>
    <header class="Tituloosm">   
        <section class="barra">
            <h2>Menu<img src="ima/lista_icono2.png" alt=""></h2>
            <ul>
                <li><a href="/pedido">Pedido</a></li>
                <li><a href="/proveedor">Proveedor</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/categoria">Categoria</a></li>
                <li><a href="/cita">Cita</a></li>
                <li><a href="/detallecita">Detalle cita</a></li>
                <li><a href="/detallepedido">Detalle pedido</a></li>
                <li><a href="/dueno">Dueño</a></li>
                <li><a href="/insumos">Insumos</a></li>
                <li><a href="/mascota">Mascota</a></li>
                <li><a href="/producto">Producto</a></li>
                <li><a href="/ventas">Ventas</a></li>
                <li><a href="/veterinario">Veterinario</a></li>
            </ul>
           
        </section> 
    </header>
    <nav class="menu">
        <a href="cerrar">Cerrar sesion</a>
    </nav>
    <div class="login-box">
        <h1>Detalle Cita</h1>
        <form  action="/frminsertardetallecita" method="POST">
          <!--  INPUT -->
          <input type="text" name="DetCitaId" class="" placeholder="Id Detalle Cita">
          <input type="text" name="DetCitaIdServi" class="" placeholder="Id Servivio">
          <input type="text" name="DetCitaIdCita" class="" placeholder="Id Cita">
          <!--  BUTTON -->
          <button type="submit">Insertar</button>
        </form>
      </div>

      <from action="" name="frm" id="frm" class="tabla">
        <section class="scroll">
        <table class="tablecentrar">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID SERVICIO</th>
                    <th>ID CITA</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            
            
            
            
            <tbody>
             <% datos.forEach(function (datos){ %>    
                <tr>
                    <td><input type="text" value="<%=datos.DetCitaId%>" name="cit" id="cit" class="cit"></td>
                    <td><input type="text" value="<%=datos.DetCitaIdServi%>" name="ids" id="ids" class="is"></td>       
                    <td><input type="text" value="<%=datos.DetCitaIdCita%>" name="idc" id="idc" class="idc"></td>                
                    <td><input type="submit" value="Eliminar" name="btneli" id="btneli" class="btneli"></td>                                
                </tr>
             <%})%>
            </tbody>
        </table>
    </section>
    </from>


</body>
</html>