<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8eb28eb9cd.js" crossorigin="anonymous"></script>
    <title>Formulario usuarios</title>
    <link rel="shortcut icon" href="img/logo_small_icon_only_inverted.png">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href= "css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>

    <nav>
        <div class="navbar">
          <i class='bx bx-menu'></i>
          <div class="logo"><img src="ima/logo.PNG" class="logo-menu"></div>
          <div class="nav-links">
            <div class="sidebar-logo">
              <span class="logo-name">Menú</span>
              <i class='bx bx-x' ></i>
            </div>
            <ul class="links">
              <li><a href="/">Inicio</a></li>
              <li><a href="/nosotros">Nosotros</a></li>
              <li>
                <a href="">Productos</a>
                <i class='bx bxs-chevron-down js-arrow arrow '></i>
                <ul class="js-sub-menu sub-menu">
                  <li><a href="/alimento">Alimentos</a></li>
                  <li><a href="/juguete">Juguetes</a></li>
                  <li><a href="/accesorio">Accesorios</a></li>
                  <li><a href="/farmaceutica">Farmaceutica</a></li>
                  <li><a href="/precio">Consultar por precio</a></li>
                </ul>
              </li>
              <li><a href="/agendarcitas">Agendar citas</a></li>
              <li><a href="/ingresar">Ingresar Admin</a></li>
            </ul>
          </div>
    
      </nav>

    
    <div class="containernos"> <!-- Flex container -->
        <div class="item item-1"></div> <!-- Flex items -->
        <div class="item item-2">
            <ul>
                <h2 id="titulo">Conocenos</h2>
                <li> <a id="face" href="https://www.facebook.com/consentidos.petshop.92" target="_blank"><i id="iconn" class="fa-brands fa-facebook-square" ></i>Consentidos Petshop</a></li>
                <li><a id="face" href="#"><i id="iconn" class="fa-brands fa-whatsapp-square"></i>315 536 4582 - 315 546 4788</a></li>
                <li><a id="face" href="https://www.google.com/maps/place/Consentidos+Pets+Shop/@4.7255488,-74.2206231,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f7995b9d14511:0x6f73b6508ce63a05!8m2!3d4.7255285!4d-74.2184243" target="_blank"><i id="iconn" class="fa-solid fa-location-arrow"></i> Cra. 24 No. 12a - 03, Villa Paola - Funza, Cundinamarca</a></li>
            </ul>
            </div>
        <div class="item item-3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.2552390518986!2d-74.22019163523755!3d4.725669646567728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f7995b9d14511%3A0x6f73b6508ce63a05!2sConsentidos%20Pets%20Shop!5e0!3m2!1ses!2sco!4v1652065534101!5m2!1ses!2sco"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      <!--width="450" height="350" style="border:0;"-->
      </div>


    <script src="js/barralateral.js"></script>

</body>
</html>